/* universal part */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Merriweather:wght@400;700;900&display=swap');

 *{
   margin:0;
   padding:0;
   box-sizing: border-box;
}
.container{
  width:80%;
  margin: auto;
}
h1{
  font-family: 'Merriweather', serif;
  color: #FFF;
  text-align: center;
  font-size: 80px;
  font-weight: 900;
  line-height: 95px; 
}
h2{
  color: #F00;
  font-family: 'Inter', sans-serif;
  font-size: 85px;
  font-weight: 700;
}
h3{
  font-family: 'Inter', sans-serif;
  font-size: 45px;
  font-weight: 600;
  line-height: 56px; 
}
h5{
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; 
  text-transform: capitalize;
}
h6{
  color: #F00;
  font-family: 'Inter', sans-serif;
  font-size: 25px;
  font-weight: 500;
}
p{
  color: #07021199;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
a{
  color: #FFF;
  font-family: 'Inter', sans-serif;
font-size: 20px;
font-weight: 700;
display: block;
text-decoration: none;
}
button{
  color: #FFF;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 10px;
  background: #F00;
  padding:15px 30px;
  border: none;
}
button:hover{
  background-color: #c21853;
  transition: 0.5s;
  transform: translateY(-5px)
}
span{
  color:#F00
}
hr{
  margin: 50px auto 0;
  width: 90%;
  border:1px solid #2c2a2a;

}
/* universal part done */


/* Header part */
header{
  background-image: linear-gradient(0deg, #000, transparent),url('resources/Banner\ Image.png');
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin:50px 0 120px ;
}
header div{
  width:60%;
  margin:0 auto ;
  
}
header div h1{
  text-align: center;
  margin-top: 30px;
}
header div h3{
  color:#fff;
  text-align: center;
}
/* header part end */
/* Main part on */


/* Discount Section */
.discount_section{
width: 60%;
margin:0 auto 120px;

}
.discount_1 h1{
  color:#F00;
  font-family: 'Inter', sans-serif; ;
}
.discount_1 h3{
  text-align: center;
  font-size: 45px;
  margin-bottom:50px
}
.discount_1 h6{
  text-align: center;
}

.discount_img{
display: flex;
justify-content: center;
}
/* Discount section  end */


/* Welcome to Midnight Party card */
.celebration_card{
  background: linear-gradient(90deg, black, transparent), url('resources/Vectorrr.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap:30px;
  height: 600px;
  border-radius: 10px;
  margin-bottom: 120px;
}
.celebration_title{
  width: 50%;
}
.celebration_title p{
  color: #ffffffcc;
  padding-left: 30px;
  margin: 20px;
}
.celebration_title a{
  padding-left: 30px;
  margin-top: 50px;
}
.join_now:hover{
  color:red;
  transform: translateY(-5px);
  transition: 0.5s;
}
.celebration_img{
  width: 30%;
}
/* Welcome to Midnight Party card end */

/* place, time, Date card open */
.date_time_section{
  width: 100%;
  height: 480px;
  background: linear-gradient(180deg, #ff00001a,transparent);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
  border-radius: 10px;

}
.date_time{
  width:70%;
  margin:100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.date_time button{
  margin-top:50px;
}
/* place, time, Date card closed */

/* next Offer section on */
.next_offer_section{
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-bottom: 120px;
}
.next_offer_section h3{
  font-size: 45px;
}
.common{
  width:30%;
}
.offer_img_border{
  width:400px;
  height:400px;
  border-radius: 50%;
  border: 10px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.offer_img_border img{
  width:340px;

}
.offer_2024{
  display: flex;
  flex-direction: column;
  gap:50px
}
.offer_2024 h3{
color:#F00
}
.img_new_year{
  display: flex;
  justify-content: center;
}
/* next Offer section off */

/* Holiday Sale Offer on */
.holiday_offer{
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.holiday_offer h1{
  color:#000;
  margin: 10px 0 25px;
}
/* Holiday sale Img card */
.holiday_offer_img{
  min-width: 1550px;
  height: 720px;
  position: relative;
  margin-bottom: 120px;
}
.hr{
  width: 1300px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.gift_box{
  position: absolute;
  bottom:-5px;
  left: 95px;
}
.woman{
  position: absolute;
  bottom:226px;
  right: 125px;
}
.discount{
 position: absolute;
 right:420px;
 top:100px;
 z-index: 1;
}
/* Holiday sale offer off */

/* Portfolio section start */
.portfolio_title_div{
 max-width:60%;
}
.portfolio_title_div h3, .subscribe h3{
  font-family: 'Merriweather', serif;
}
.clumn{
  float: left;
  width: 33.33%;
  padding:5px;
  
}
.clumn img{
  border-radius: 15px;
}
.row::after{
  content: "";
  display: table;
  clear: both;
}

.clumn img:hover{
  transform: translateY(-10px);
  transition: 0.5s;
  box-shadow: 10px 10px 20px #c21853;

}
/* Portfolio section end */

/* Subscribe Newsletter section start*/
.subscribe_section{
  background: #ff00000d;
  width: 100%;
  height: 600px;
  padding-top: 50px;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  margin-bottom: 120px;
}
.subscribe{
  max-width:900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:20px;
  
}
.input_div{
  width: 650px;
  margin:50px auto;
}
.input_div input{
  padding:30px;
  border: none;
  font-size: 20px;
  font-weight: 600;
  font-family:'Inter', sans-serif;
}
.input_div input[type=email]{
  border-radius: 50px 0 0 50px;
  width:400px;
}
.input_div input[type=submit]{
  background-color: #F00;
  border-radius: 0 50px 50px 0;
  width: 200px;
  color:#fff;
}
.input_div input[type=submit]:hover{
  background-color: #c21853;
  transition: 0.5s;
}
/* Subscribe Newsletter section done*/
/* Main section Done */

/* footer section on */
  footer{
    background: #000;
    width: 100%;
    height:600px;
    padding-top: 100px;
  }
  .address{
    max-width: 300px;
  }
  .footer_div{
    margin: auto;
    width:90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  footer h6{
    color:#fff
  }
  .number{
    display: flex;
    gap:10px;
    align-items: center;
  }
  .social_media{
    display: flex;
    gap:30px;
    justify-content: center;
    margin-top: 100px;
  }
  .social_media li{
    list-style: none;
  }
  .copyright{
    margin:50px auto 0;
    width: 90%;
    display: flex;
    justify-content: space-between;
  }
  .Unsubscribe{
    background: #fff;
    color:#000;
    cursor:pointer;
  }
  .Unsubscribe:hover{
    color:#fff;
    transition: 0.5s;
  }
  
/* footer section off */
/* tata bye bye */